# Question 1
I will built a dataframe to present the data

In [221]:
import pandas as pd
import numpy as np
from numpy import nan 
from numpy.linalg import norm

In [222]:
def Convert(string):
    li = list(string.split(","))
    return li
Critiques=Convert('Lisa Rose,Gene Seymour,Michael Philips,Claudia Puig,Mick Lasalle,Jack Matthews,Toby,Anne')

In [223]:
data = {
    'Lady':[2.5,3,2.5,nan,3,3,nan,1.5],
    'Snakes':[3.5,3.5,3,3.5,4,4,4.5,nan],
    'Luck':[3,1.5,nan,3,2,nan,nan,4],
    'Superman':[3.5,5,3.5,4,3,5,4,nan],
    'Dupree':[2.5,3.5,nan,2.5,2.0,3.5,1,2],
    'Night':[3,3,4,4.5,3,3,nan,nan]
    }
critiques = pd.DataFrame(data,index=Critiques).T
critiques

,Lisa Rose,Gene Seymour,Michael Philips,Claudia Puig,Mick Lasalle,Jack Matthews,Toby,Anne
Lady,2.5,3.0,2.5,NaN,3.0,3.0,NaN,1.5
Snakes,3.5,3.5,3.0,3.5,4.0,4.0,4.5,NaN
Luck,3.0,1.5,NaN,3.0,2.0,NaN,NaN,4.0
Superman,3.5,5.0,3.5,4.0,3.0,5.0,4.0,NaN
Dupree,2.5,3.5,NaN,2.5,2.0,3.5,1.0,2.0
Night,3.0,3.0,4.0,4.5,3.0,3.0,NaN,NaN

# Question 2
(a) To compute a simple similarity score, we use the Manhattan distance or an Euclidean distance.

In [224]:
def sim_distanceManhattan(person1,person2):
    sum=0
    for val1, val2 in zip(person1,person2):
        if np.isnan(val1) or np.isnan(val2):
            pass
        else:
            sum=sum+np.abs(val1-val2)
    return sum

def sim_distanceEuclidienne(person1,person2):
    # sum=0
    # for val1, val2 in zip(person1,person2):
    #     if val1 is not None and val2 is not None:
    #         sum=sum+np.sqrt(abs(val1-val2))
    # return sum
    return norm(person1-person2)
sim_distanceManhattan(critiques['Toby'],critiques['Anne'])

1.0

(a) To compute a simple similarity score, we use the Manhattan distance or an Euclidean distance.

In [225]:
# #fill the null values via mean of that movie
# #otherwise we can not compute the distance of two persons directly
# for idx in critiques.index:
#     critiques.loc[idx]=critiques.loc[idx].fillna(critiques.loc[idx].mean())
# critiques

In [226]:
def computeNearestNeighbor(nouveauCritique, Critiques):
    distances=[]
    for critique in Critiques:
        if critique!=nouveauCritique:
            distance=sim_distanceManhattan(critiques[critique],critiques[nouveauCritique])
            distances.append((distance,critique))
    distances.sort()
    return distances
computeNearestNeighbor('Toby',Critiques)

[(1.0, 'Anne'),
 (2.0, 'Michael Philips'),
 (2.5, 'Claudia Puig'),
 (2.5, 'Mick Lasalle'),
 (3.0, 'Lisa Rose'),
 (4.0, 'Jack Matthews'),
 (4.5, 'Gene Seymour')]

In [227]:
movies=(critiques.index)
def recommendNearestNeighbor(nouveauCritique, Critiques):
    recommendMovies=[]
    NearestNeighbor= computeNearestNeighbor(nouveauCritique,Critiques)[0][1]
    print(NearestNeighbor)
    for i in range(0,len(critiques[nouveauCritique])):
        if np.isnan(critiques[nouveauCritique][i]) and not np.isnan(critiques[NearestNeighbor][i]):
            print(critiques[NearestNeighbor][i])
            recommendMovies.append((movies[i],critiques[NearestNeighbor][i]))
    return recommendMovies
recommendNearestNeighbor('Toby',Critiques)

Anne
1.5
4.0

[('Lady', 1.5), ('Luck', 4.0)]